@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
    --grey-5: #121214;
    --grey-4: #212529;
    --grey-3: #343B41;
    --grey-2: #868E96;
    --grey-1: #ececec;
    --grey-0: #F8F9FA;
    --main-color: #0A99FE;
}

::selection {
    color: var(--grey-5);
    background-color: var(--main-color);
}

html {
    scroll-behavior: smooth;
}
body {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 10px 0px;
    font-family: "Roboto", sans-serif;
}

h2 {
    font-size: 28px;
    /* font-weight: 400; */
    color: var(--grey-5);
}
p {
    font-size: 16px;
    color: var(--grey-5);
}

.active {
    cursor: grabbing;
}