@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    padding: 10px 0px;
    font-family: "Roboto", sans-serif;
}
header {
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 0px;
    box-shadow: 0px 15px 10px -15px rgba(0,0,0,0.75);
}

footer {
    padding: 25px 0;
    margin-top: 100px;
    border-top: solid 0px;
    box-shadow: 0px -5px 10px 5px black;
    background-color: black;
    color: rgba(10, 152, 254, 0.75);
    font-size: 18px;
    font-style: italic;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerButton {
    font-size: 20px;
    font-weight: 400;
    color: #0A99FE;
    background-color:#64c2ed4b;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
    
    width: 150px;
    height: 40px;
    margin: 0px 3px;
    padding: 8px 35px;
}
.headerButton:hover {
    color: white;
    background-color: #0A99FE;
}

.sectionTitle {
    padding: 50px;
    font-size: 24px;
    font-weight: 400;
    color: #1b1b1b;
}

.itemList {
    padding: 0px 40px;
    overflow-x: auto;
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    list-style-type: none;
}
.card {
    width: 207px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.75s;
    border: 2px solid transparent;
    border-radius: 15px;
    background-color: #ececec;
}
.card:hover{
    border: 2px solid #0A99FE;
}
.card-top {
    height: 100%;
    width: 100%;
}
.card-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px 0;
}
.cardImgs {
    width: 100%;
    height: 170px;
    border-radius: 15px 15px 0 0;
}

#headerImg {
    width: 205px;
    height: 67.5px;
}
#productName {
    color: #1b1b1b;
    font-size: 20px;
    font-weight: 500;
}
#productPrice {
    color: #868383;
    font-size: 16px;
    font-weight: 400;
}